.example-spacer {
  flex: 1 1 auto;
}

img {
  width: 70px;
  height: 70px;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.mat-toolbar {
  background-color: var(--primary-color);
  color: var(--text-color);
}

button {
  background-color: var(--accent-color);
  color: var(--text-color);
}

.mat-warn {
  background-color: var(--warn-color);
  color: var(--text-color);
}

.mat-card {
  background-color: var(--background-color);
  color: var(--text-color);
}

.mat-menu {
  background-color: var(--background-color);
  color: var(--text-color);
}

.mat-slide-toggle-thumb {
  background-color: var(--primary-color);
}

.mat-slide-toggle-bar {
  background-color: var(--accent-color);
}

.container {
  position: relative;
}

input {
  width: 150px;
  background-color: var(--accent-color);
  color: var(--warn-color);
  font-size: 1rem;
  padding: 10px;
  padding-right: 35px;
  border-radius: 5px 0 0 5px;
  border: 0;
  outline: none;
}

.lupa {
  background-color: var(--text-color);
  color: var(--primary-color);
  padding: 10px 15px;
  position: absolute;
  margin: auto;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.lupa:hover {
  background-color: var(--warn-color);
}