<mat-toolbar>

  <!-- Botón para abrir el offcanvas -->
  <button class="btn btn-primary custom-button" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu" aria-controls="offcanvasMenu">
    <mat-icon>menu</mat-icon>
  </button>
  <button class="btn " type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu" aria-controls="offcanvasMenu">
    <img src="assets/imagenes/logopestaña see.png" alt="Total Sport Logo" class="logo-on-mobile hidden-on-desktop" />
  </button>

  <!-- Offcanvas estático en el lado izquierdo de la pantalla -->
  <div class="offcanvas offcanvas-start static-offcanvas" tabindex="-1" id="offcanvasMenu" aria-labelledby="offcanvasMenuLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasMenuLabel">Menú</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <ul class="list-group">
        <li class="list-group-item">
          <button class="offcanvas-button" mat-button routerLink="/inicio" data-bs-dismiss="offcanvas">
            <mat-icon>home</mat-icon> Inicio
          </button>
        </li>
        <li class="list-group-item">
          <button class="offcanvas-button" mat-button routerLink="/producto" data-bs-dismiss="offcanvas">
            <mat-icon>list</mat-icon> Todos los productos
          </button>
        </li>
        <li class="list-group-item">
          <button class="offcanvas-button" mat-button routerLink="/admin" data-bs-dismiss="offcanvas">
            <mat-icon>admin_panel_settings</mat-icon> Admin
          </button>
        </li>
        <li class="list-group-item">
          <button class="offcanvas-button" mat-button routerLink="/carrito" data-bs-dismiss="offcanvas">
            <mat-icon matBadge="{{ cantidadTotalProductos }}">add_shopping_cart</mat-icon> Carrito de Compras
          </button>
        </li>
        <li class="list-group-item">
          <button class="offcanvas-button" mat-button routerLink="/pedidos" data-bs-dismiss="offcanvas">
            <mat-icon>assignment</mat-icon> Mis Pedidos
          </button>
        </li>
        <li class="list-group-item">
          <button class="offcanvas-button" mat-button routerLink="/miscompras" data-bs-dismiss="offcanvas">
            <mat-icon>shopping_bag</mat-icon> Comprado
          </button>
        </li>
      </ul>
    </div>
  </div>

  <h1 class="title hidden-on-mobile">Total Sport</h1>


  <span class="spacer"></span>

  <!-- Botón para abrir el offcanvas del carrito -->
  <button class="btn btn-primary custom-button" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasCarrito" aria-controls="offcanvasCarrito">
    <mat-icon matBadge="{{ cantidadTotalProductos }}">add_shopping_cart</mat-icon>
  </button>

  <!-- Botón para cambiar el tema -->
  <button mat-button (click)="toggleTheme()">
    <mat-icon>{{ isDarkTheme ? 'brightness_3' : 'wb_sunny' }}</mat-icon>
    <label for="toggle" id="label_toggle"></label>
    <mat-slide-toggle></mat-slide-toggle>
  </button>

  <!-- Contenedor del menú del usuario -->
  <div class="menu-container">
    <img [hidden]="!isLoggedIn" src="assets/imagenes/icono.png" alt="X" class="profile-image" [matMenuTriggerFor]="usuarioMenu">
    <button mat-icon-button [hidden]="isLoggedIn" [matMenuTriggerFor]="usuarioMenu">
      <mat-icon>person</mat-icon>
    </button>
  </div>

  <mat-menu #usuarioMenu="matMenu">
    <button mat-menu-item (click)="iniciar()" *ngIf="!isLoggedIn" routerLink="/registro">Registrarse</button>
    <button mat-menu-item (click)="iniciar()" *ngIf="!isLoggedIn" routerLink="/inicio-sesion">Iniciar sesión</button>
    <button mat-menu-item (click)="cerrarSesion()" *ngIf="isLoggedIn">Cerrar Sesión</button>
  </mat-menu>

</mat-toolbar>

<!-- Offcanvas del carrito de compras -->
<div class="offcanvas offcanvas-end" tabindex="0" id="offcanvasCarrito" aria-labelledby="offcanvasCarritoLabel">
  <div class="offcanvas-header">
    <h1 class="offcanvas-title" id="offcanvasCarritoLabel">Carrito de Compras</h1>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="contenedor-productos">
      <ul class="list-group">
        <ng-container *ngFor="let item of productosEnCarrito">
          <li class="list-group-item">
            <div class="card producto-card">
              <div class="d-flex">
                <img [src]="item.Producto.imagen" class="card-img-top" [alt]="item.Producto.nombre" style="max-width: 100px; margin-right: 10px;">
                <div class="card-body">
                  <p class="card-text">
                    {{ item.Producto.nombre }} <br>
                    {{ item.Producto.precio | currency:'ARS':'symbol':'1.0-0':'es-AR' }} <br>
                    (cantidad: {{ item.Cantidad }}) <br>
                    Subtotal: {{ item.Cantidad * item.Producto.precio | currency:'ARS':'symbol':'1.0-0':'es-AR' }}
                  </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <button type="button" class="btn btn-outline-light" (click)="restarCantidad(item)">-</button>
                    <span>{{ item.Cantidad }}</span>
                    <button type="button" class="btn btn-outline-light" (click)="aumentarCantidad(item)">+</button>
                    <button type="button" class="btn btn-outline-danger" (click)="eliminarProductoDelCarrito(item.Producto.idProducto)">
                      <mat-icon class="red-icon">delete</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ng-container>
          <!-- Total de la compra -->
      <div class="card-container">
        <p class="card-text total-compra">
          Total de la compra: {{ calcularTotal() | currency:'ARS':'symbol':'1.0-0':'es-AR' }}
        </p>
      </div>

      </ul>

    
      <!-- Botón para ir al carrito -->
      <div class="button-container">
        <button type="button" class="btn btn-outline-light" (click)="irAlCarrito()">Ir al carrito</button>
      </div>
    </div>
  </div>
</div>
