.example-spacer {
  flex: 1 1 auto;
}

img {
  width: 70px;
  height: 70px;
}


  .title {
    font-family: "Zen Dots", sans-serif;
    font-size: xx-large;
  }


/* Estilos para dispositivos pequeños (ej: celular) */
@media (min-width: 300px) and (max-width: 700px) {
  mat-toolbar {
    background-color: aqua; /* Color de fondo en móviles */
  }
  #menuInicio {
    display: none; /* Ocultar botón en móviles */
  }
  #menuProducto {
    display: none; /* Ocultar botón en móviles */
  }

  .hidden-on-mobile { /* Clase para ocultar el título en móviles */
    display: none;
  }
  /* Ocultar botones en dispositivos pequeños */
  .btn.btn-primary.custom-button {
    display: none; /* Ocultar los botones en móviles */
  }
  #menuProducto {
    display: block; /* Asegúrate de que sea visible en pantallas móviles */
  }
  
}

/* Estilos para dispositivos más grandes (ej: computadora) */
@media (min-width: 700px) {
  mat-toolbar {
    background-color: blueviolet; /* Color de fondo en pantallas grandes */
  }
  #menuSecciones {
    display: none; /* Ocultar botón en pantallas grandes */
  }
}

.spacer {
  flex: 1 1 auto;
}

.list-group-item {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.list-group-item img {
  max-width: 50px; /* Ajusta el tamaño según tus necesidades */
  height: auto;
  margin-right: 10px;
}

.list-group-item div {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mat-toolbar {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.mat-warn {
  background-color: var(--warn-color);
  color: var(--text-color);
}

.mat-card {
  background-color: var(--background-color);
  color: var(--text-color);
}

.mat-menu {
  background-color: var(--background-color);
  color: var(--text-color);
}

.mat-slide-toggle-thumb {
  background-color: var(--primary-color);
}

.mat-slide-toggle-bar {
  background-color: var(--accent-color);
}

.profile-image {
  width: 50px; /* Ajusta el tamaño según el espacio disponible */
  height: 50px; /* Asegura que sea cuadrado para mantener el círculo */
  border-radius: 50%; /* Esto hace que la imagen sea circular */
  object-fit: cover; /* Asegura que la imagen se ajuste sin deformarse */
  border: 2px solid #fff; /* Opcional: un borde alrededor de la imagen */
}

.card-container { /* Asegúrate de aplicar esto al contenedor del <p> */
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente, si es necesario */
  background-color: var(--primary-color); /* Mismo color que las tarjetas */
  color:var(--text-color);
  padding: 10px; /* Espaciado interno para el contenedor */
  border-radius: 6px; /* Bordes redondeados */
}

.carousel-inner img {
  width: 100%;
  height: 300px; /* Ajusta esta altura según el tamaño deseado */
  object-fit: cover; /* Para que la imagen ocupe todo el espacio sin distorsionarse */
}

.button-container {
  display: flex;
  justify-content: center; /* Centra el botón horizontalmente */
  margin-top: 16px; /* Espacio superior para el botón */
}

.btn.btn-primary {
  border: none; /* Ejemplo: quitar bordes */
  background-color: var(--primary-color); /* Cambiar color de fondo */
  /* Otros estilos */
}

.btn.btn-primary:hover {
  background-color: var(--input-color); /* Cambiar color al pasar el cursor */
}

.producto-card{
  background-color: var(--primary-color); /* Mismo color que las tarjetas */
  color:var(--text-color);
  text-align: center;
  
}
.card-img-top{
  align-self: center;
  width: 200px;
}
.mat-icon {
  color: white; /* Cambia el color del icono */
}




/* Cambia el color en estado hover del botón */
.custom-button:hover .mat-icon {
  color: var(--background-footer-color); /* Cambia el color del icono en hover */
}

/* Estilo adicional para centrar el total de la compra */
.total-compra {
  text-align: center; /* Centra el texto */
  margin: 16px 0; /* Espaciado superior e inferior */
}

.hidden {
  display: none;
}

.offcanvas-body {
  display: flex;
  flex-direction: column; /* Colocar los elementos en columna */
  height: 100%; /* Asegúrate de que el cuerpo ocupa todo el espacio */
  padding: 0; /* Elimina el padding para que no haya espacio extra */
}

.list-group {
  flex: 1; /* Asegúrate de que la lista ocupa todo el espacio disponible */
  display: flex;
  flex-direction: column; /* Coloca los items en columna */
}

.list-group-item {
  flex: 1; /* Hace que cada item ocupe el mismo espacio */
}

.offcanvas-button {
  width: 100%; /* Asegura que cada botón ocupa todo el ancho */
  height: 100%; /* Asegura que cada botón ocupa todo el alto disponible */
  display: flex;
  align-items: center; /* Centra el icono y el texto verticalmente */
  justify-content: flex-start; /* Alinea el texto a la izquierda */
}



.offcanvas-body mat-icon {
  font-size: 30px; /* Ajusta el tamaño del ícono */
  margin-right: 30px; /* Añade un espacio entre el ícono y el texto */
  color: #fff; /* Asegúrate de que el color no esté en blanco o transparente */
}

.offcanvas .offcanvas-body .list-group-item button.mat-menu-item {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  min-height: 50px; /* Altura mínima para el botón */
}

.offcanvas .offcanvas-body mat-icon {
  font-size: 24px; /* Tamaño del icono */
  width: 32px;     /* Asegura espacio suficiente para el icono */
  height: 32px;
  margin-right: 8px; /* Espacio entre el icono y el texto */
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.offcanvas-header {
  background-color: var(--offcanvas-bg-color);
  background-image: var(--offcanvas-gradient);
  background-repeat: no-repeat;
}
.offcanvas-body {
  background-color: var(--offcanvas-bg-color);
  background-image: var(--offcanvas-gradient);
  background-repeat: no-repeat;
}
.button-container .btn-primary {
  background-color: var(--offcanvas-bg-color);
  background-image: var(--offcanvas-gradient);
  background-repeat: no-repeat;
}

.offcanvas-title{
  color:white
}
.offcanvas-body {
  border: none; /* Quitar cualquier borde del cuerpo del offcanvas */
  padding: 0; /* Eliminar el padding para evitar espacios no deseados */
  margin: 0; /* Eliminar margen si es necesario */
}

.list-group-item {
  padding: 0; /* Eliminar el padding del li para que el botón ocupe todo el espacio */
  margin: 0; /* Eliminar el margen del li */
  background-color: var(--offcanvas-bg-color); /* Color de fondo */
  color: white; /* Asegurar que el texto sea blanco */
  border: none; /* Asegurarte de que no haya borde en el li */
}

.offcanvas-button {
  width: 100%; /* Hacer que el botón ocupe todo el ancho del li */
  background-color: var(--offcanvas-bg-color); /* Color de fondo */
  
  background-repeat: no-repeat; /* No repetir el fondo */
  color: white; /* Color del texto del botón */
  border: none; /* Quitar borde por defecto */
  padding: 10px 20px; /* Espaciado interno */
  border-radius: 5px; /* Bordes redondeados */
  transition: background-color 0.3s, transform 0.3s; /* Transiciones suaves */
}

/* Efecto hover para el botón */
.offcanvas-button:hover {
  background-color: rgba(2, 1, 3, 0.8); /* Color al pasar el mouse */
  transform: scale(1.05); /* Efecto de aumento al pasar el mouse */
}
