<!-- Título de la sección de pedidos realizados -->
<h1 class="mt-4 mb-4">Pedidos Realizados <span class="text-danger">&hearts;</span></h1>

<div class="container">
  <!-- Mostrar pedidos si existen, de lo contrario mostrar mensaje de no hay pedidos -->
  <div *ngIf="pedidos.length > 0; else noPedidos">
    <!-- Iteración sobre la lista de pedidos -->
    <div *ngFor="let pedido of pedidos" class="card mb-4">
      <!-- Encabezado de la tarjeta de pedido -->
      <div class="card-header">
        <h3 class="card-title">Pedido realizado por: {{ pedido.usuario.nombre }} {{ pedido.usuario.apellido }}</h3>
        <h4 class="card-subtitle">Fecha: {{ pedido.fecha | date:'medium' }}</h4>
      </div>
      <div class="card-body">
        <!-- Lista de productos del pedido -->
        <ul class="list-group list-group-flush">
          <li *ngFor="let item of pedido.productos" class="list-group-item">
            <div class="row align-items-center">
              <!-- Imagen del producto -->
              <div class="col-md-4">
                <img src="{{item.Producto.imagen}}" class="img-fluid rounded" alt="{{item.Producto.nombre}}">
              </div>
              <!-- Información del producto -->
              <div class="col-md-8">
                <h4>Producto: {{ item.Producto.nombre }}</h4>
                <h4>Cantidad: {{ item.Cantidad }}</h4>
              </div>
            </div>
          </li>
        </ul>
        <!-- Precio total del pedido -->
        <div class="mt-3">
          <h3 class="text-success">Precio Total: {{ pedido.totalprecio | currency:'ARS':'symbol':'1.0-0':'es-AR' }}</h3>
        </div>
        <!-- Botón para despachar producto -->
        <button (click)="despacharPedido(pedido.id)" class="btn btn-warning mt-3">Despachar Producto</button>
      </div>
    </div>
  </div>
</div>

<!-- Plantilla para mostrar mensaje cuando no hay pedidos -->
<ng-template #noPedidos>
  <div class="alert alert-warning text-center mt-4">
    <p>No hay pedidos realizados.</p>
  </div>
</ng-template>
