<html lang="en">

<head>
  <meta charset="utf-8">
  <title>carrusel 3d</title>
</head>

<!--asignamos el titulo del carrusel y las imagenes de este-->

<body>
  <h2>carrousel magtimus</h2>
  <div class="content-all">
    <div class="content-carrousel">
      <figure><img src="../../../../../assets/imagenes/img9."></figure>
      <figure><img src="../../../../../assets/imagenes/img1.webp"></figure>
      <figure><img src="../../../../../assets/imagenes/img2.jpg"></figure>
      <figure><img src="../../../../../assets/imagenes/img3.jpg"></figure>
      <figure><img src="../../../../../assets/imagenes/img4.webp"></figure>
      <figure><img src="../../../../../assets/imagenes/img5.jpg"></figure>
      <figure><img src="../../../../../assets/imagenes/img6.jpg"></figure>
      <figure><img src="../../../../../assets/imagenes/img7.jpg"></figure>
      <figure><img src="../../../../../assets/imagenes/img8.jpg"></figure>
    </div>
  </div>
</body>

</html>