<html lang="en">
<head>
  <meta charset="utf-8">
  <title>carrusel 3d</title>
  
</head>

<body>
  <h1><p>Lo más vendido</p></h1>
 <!-- Carrusel de Bootstrap que se muestra solo en dispositivos móviles -->
<div class="d-block d-md-none"> <!-- Solo visible en dispositivos móviles -->
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000">
    <!-- Indicadores del carrusel -->
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>

    <!-- Contenido de las imágenes del carrusel -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/logitos/champions.jpeg" class="d-block w-100" alt="Primera imagen">
        <div class="carousel-caption d-none d-md-block">
          <h5>Etiqueta de la primera imagen</h5>
          <p>Contenido representativo para la primera imagen.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/logitos/libertadores.jpg" class="d-block w-100" alt="Segunda imagen">
        <div class="carousel-caption d-none d-md-block">
          <h5>Etiqueta de la segunda imagen</h5>
          <p>Contenido representativo para la segunda imagen.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/logitos/mundial.jpg" class="d-block w-100" alt="Tercera imagen">
        <div class="carousel-caption d-none d-md-block">
          <h5>mundial</h5>
          <p>Contenido representativo para la tercera imagen.</p>
        </div>
      </div>
    </div>

    <!-- Controles de navegación -->
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<!-- Carrusel 3D que se muestra solo en pantallas de computadora -->
<div class="d-none d-md-block"> <!-- Solo visible en computadoras -->
  <div class="content-all">
    <div class="content-carrousel">
      <figure>
        <a [routerLink]="'/producto'"><img src="../../../../../assets/imagenes/img9.jpg" alt="Imagen producto 1"></a>
      </figure>
      <figure>
        <a [routerLink]="'/producto'"><img src="../../../../../assets/imagenes/vendido1.avif" alt="Raqueta de tennis"></a>
        <div class="capa">
          <h3>Raqueta de tennis</h3>
          <p>
            <b>La raqueta es un implemento deportivo que consiste en un marco con un aro abierto y con una especie de red o caucho que lo cubre.</b>
          </p>
          <a [routerLink]="'/producto'" class="btn"><span class="btn-text">Ver Producto</span></a>
        </div>
      </figure>
      <figure>
        <a [routerLink]="'/producto'"><img src="../../../../../assets/imagenes/vendido2.png" alt="Zapatillas Nike LeBron"></a>
        <div class="capa">
          <h3>Zapatillas nike lebron basket</h3>
          <p>
            <b>Súbele un nivel a tu juego con el LeBron Witness 5, un calzado robusto y ligero que está diseñado para verse veloz.</b>
          </p>
          <a [routerLink]="'/producto'" class="btn"><span class="btn-text">Ver Producto</span></a>
        </div>
      </figure>
      <figure>
        <a [routerLink]="'/producto'"><img src="../../../../../assets/imagenes/vendido3.jpg" alt="Guantes de box"></a>
        <div class="capa">
          <h3>Guantes de box negros</h3>
          <p>
            <b>Los guantes de boxeo son los guantes acolchonados reglamentarios que los combatientes usan con el fin de suavizar el impacto de los golpes.</b>
          </p>
          <a [routerLink]="'/producto'" class="btn"><span class="btn-text">Ver Producto</span></a>
        </div>
      </figure>
      <figure>
        <a [routerLink]="'/producto'"><img src="../../../../../assets/imagenes/vendido4.jpg" alt="Zapatillas Kyrie"></a>
        <div class="capa">
          <h3>Zapatillas kyrie negras</h3>
          <p>
            <b>Cuanto más rápido eres dentro y fuera de los cortes, más rápido puedes romper la defensa.</b>
          </p>
          <a [routerLink]="'/producto'" class="btn"><span class="btn-text">Ver Producto</span></a>
        </div>
      </figure>
      <figure>
        <a [routerLink]="'/producto'"><img src="../../../../../assets/imagenes/vendido5.jpg" alt="Balón clásico de fútbol"></a>
        <div class="capa">
          <h3>Balón clásico de futbol</h3>
          <p>
            <b>Pelota De Futbol Nº5 320 Grs Estilo Clasica Gajos Blanco Y Negro.</b>
          </p>
          <a [routerLink]="'/producto'" class="btn"><span class="btn-text">Ver Producto</span></a>
        </div>
      </figure>
      <figure>
        <a [routerLink]="'/producto'"><img src="../../../../../assets/imagenes/vendido6.webp" alt="Zapatillas Nike Mercurial"></a>
        <div class="capa">
          <h3>Zapatillas nike mercurial </h3>
          <p>
            <b>Mejora tu juego de fútbol con estos botines Nike Superfly 8 Academy en un vibrante color azul cloro.</b>
            <a [routerLink]="'/producto'" class="btn"><span class="btn-text">Ver Producto</span></a>
          </p>
          <a [routerLink]="'/producto'" class="btn"><span class="btn-text">Ver Producto</span></a>
        </div>
      </figure>
      <figure>
        <a [routerLink]="'/producto'"><img src="../../../../../assets/imagenes/casco - copia.jpg" alt="Indumentaria para correr"></a>
        <div class="capa">
          <h3>Indumentaria para correr</h3>
          <p>
            <b>La comodidad es fundamental cuando se trata de prendas para correr.</b>
          </p>
          <a [routerLink]="'/producto'" class="btn"><span class="btn-text">Ver Producto</span></a>
        </div>
      </figure>
      <figure>
        <a [routerLink]="'/producto'"><img src="../../../../../assets/imagenes/vendido8.jpg" alt="Bicicleta Trek"></a>
        <div class="capa">
          <h3>Bicicleta Trek Rodado29</h3>
          <p>
            <b>Trek Marlin 6 nueva, año 2017, cuadro 18,5" color negro mate, llantas 29".</b>
          </p>
          <a [routerLink]="'/producto'" class="btn"><span class="btn-text">Ver Producto</span></a>
        </div>
      </figure>
    </div>
  </div>
</div>

</body>
</html>