@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

h1 {
  font-family: "Zen Dots", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Variables para el tema claro */
body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.mat-toolbar {
  background-color: var(--primary-color);
  color: var(--text-color);
}

button {
  background-color: var(--accent-color);
  color: var(--text-color);
}

.mat-warn {
  background-color: var(--warn-color);
  color: var(--text-color);
}

.mat-card {
  background-color: var(--background-color);
  color: var(--text-color);
}

.mat-menu {
  background-color: var(--background-color);
  color: var(--text-color);
}

.mat-slide-toggle-thumb {
  background-color: var(--primary-color);
}

.mat-slide-toggle-bar {
  background-color: var(--accent-color);
}

/* Estructura principal */
:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Asegura que la altura mínima sea 100vh */
}

.app-container {
  display: flex; /* Habilita Flexbox */
  flex-direction: column; /* Organiza los elementos en una columna */
  height: 100vh; /* Ocupa toda la altura de la ventana */
}

app-navbar {
  flex: 0 0 60px; /* Fija la altura del navbar a 60px */
}

router-outlet {
  flex: 1; /* Ocupa el espacio restante */
  padding: 20px; /* Espaciado interno */
  overflow: auto; /* Agrega scroll si es necesario */
}

.main-content {
  display: flex;
  flex-direction: column; /* Para permitir que el footer se coloque al final */
}

app-footer {
  flex: 0 0 40px; /* Fija la altura del footer a 40px, puedes ajustar este valor */
  margin-top: auto; /* Asegura que el footer esté al final */
  padding-top: 0; /* Quitar paddings superiores */
}
