.mis-compras-container {
  background-color: var( --offcanvas-gradient); /* Fondo claro */
  padding: 20px;
  border-radius: 10px;
}

.title-pedidos {
  color: var(--input-color);
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.pedido-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
 background-color:  var( --offcanvas-gradient);
 
}

.producto-imagen {
  max-width: 100px;
  height: auto;
}

.producto-info h5 {
  font-weight: bold;
  margin-bottom: 5px;
}

.pedido-total {
  border-top: 1px solid #ddd;
  padding-top: 10px;
  margin-top: 10px;
  color: var(--input-color);
}
.pedido-header{
  color: white;
  background-color: var( --offcanvas-gradient);
}
.card-body{
  background-color: var( --offcanvas-gradient);
  color: white;
}