<div class="row">
  <div>
    <input type="text" placeholder="Buscar productos..." [(ngModel)]="searchQuery" (input)="filterProducts()" />
    <button disabled="true" class="lupa"><i class="fa-solid fa-magnifying-glass"></i>
    </button>
  </div>
  <mat-card class="col" *ngFor="let producto of filteredProductos" appearance="outlined">
    <mat-card-header>
      <mat-card-title class="titulo">{{producto.nombre}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{producto.imagen}}" alt="{{producto.alt}}" height="200px" width="200px">
    <mat-card-content>
      <p class="descripcion">{{producto.descripcion}}</p>
      <mat-card-subtitle class="precio">${{producto.precio}}</mat-card-subtitle>
    </mat-card-content>
    <mat-card-actions>
      <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#modalCard"
        (click)="mostrarVer(producto)" mat-button>ver mas</button>
      <button (click)="agregarProducto(producto)">Agregar al carrito</button>
    </mat-card-actions>
  </mat-card>
</div>