/* Importar fuente Zen Dots */
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

/* Estilos generales para html y body */
html, body { 
  height: 100%; 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}

/* Estilo para h1 con la fuente Zen Dots */
h1 { 
  font-family: "Zen Dots", sans-serif; 
  font-weight: 400; 
  font-style: normal; 
}

/* Variables para el tema claro */
:root { 
  --background-color: rgb(255, 255, 255); 
  --background-footer-color: #38afff; 
  --text-color: #f7f7f7; 
  --text-title-color: #4d41f1; 
  --primary-color: #00a8db; /* Color frío */ 
  --accent-color: #00a8db; /* Color cálido */ 
  --warn-color: #fc1100; /* Color cálido */ 
  --input-color: #0a0444; 
}

/* Variables para el tema oscuro */
:root.dark-theme { 
  --background-color: rgb(15, 1, 41); 
  --background-footer-color: #0a0444; 
  --text-color: #f30b0b; 
  --text-title-color: #ffffff; 
  --primary-color: #090541; /* Color frío */ 
  --accent-color: #030b4e; /* Color cálido */ 
  --warn-color: #e91e63; /* Color cálido */ 
  --input-color: #ffffff; 
}

/* Aplicación de variables para el tema claro */
body { 
  background-color: var(--background-color); 
  color: var(--text-color); 
}

.mat-toolbar { 
  background-color: var(--primary-color); 
  color: var(--text-color); 
}

button { 
  background-color: var(--accent-color); 
  color: var(--text-color); 
}

.mat-warn { 
  background-color: var(--warn-color); 
  color: var(--text-color); 
}

.mat-card, .mat-menu { 
  background-color: var(--background-color); 
  color: var(--text-color); 
}


.mat-slide-toggle-thumb { 
  background-color: var(--primary-color); 
}

.mat-slide-toggle-bar { 
  background-color: var(--accent-color); 
}

/* Estilos responsivos */

/* Estilos para dispositivos móviles */
@media (max-width: 767px) {
  body {
    font-size: 14px;
  }
  .container {
    padding: 0 10px;
  }
  .card, .footer-col {
    width: 100%;
    margin-bottom: 20px;
  }
  .navbar .menu-container, .navbar .custom-button {
    display: block;
    text-align: center;
    width: 100%;
  }
}

/* Estilos para tablets */
@media (min-width: 768px) and (max-width: 1024px) {
  .card, .footer-col {
    width: 48%;
    margin-bottom: 20px;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
